
<nav class="navbar navbar-inverse">
  <div class="container">

    <div class="row">
      
      <div class="col-md-4"></div>
      
      <div class="col-md-4 text-center">
          <h1 class="site-title"><a href="#/">Meet Me</a></h1>
          <p class="desc">your easiest & fastest meeting planner</p>
      </div>
      
      <div class="col-md-4">
        <div class="nav navbar-nav navbar-text navbar-right acme-navbar-text navbar-link">
          <!-- <span>Application was created {{ vm.relativeDate }}.</span> -->
        </div>
      </div>  

    </div>
  </div>
</nav>
