<footer class="site-footer">
  <div class="container">
    <div class="row">

      <div class="col-md-5">
        <h1 class="h4 widget-title">Stay Connected</h1>
        
        <div class="social-icon">
          <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
          <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
          <a href="#"><i class="fa fa-google-plus fa-2x"></i></a>
          <a href="#"><i class="fa fa-youtube fa-2x"></i></a>
          <a href="#"><i class="fa fa-rss fa-2x"></i></a>
        </div>
          
      
      </div>

      <div class="col-md-5 col-md-offset-2">
        <h1 class="h4 widget-title">Contact Informations</h1>

        <address>
          <strong>MeetMe, Inc.</strong><br>
          1355 Market Street, Suite 900<br>
          San Francisco, CA 94103<br>
          <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>

        <address>
          <strong>Full Name</strong><br>
          <a href="mailto:#">meetme@jtk.polban.ac.id</a>
        </address>
      </div>
        

    </div>
  </div>
      <div class="text-copyright text-center">
        &copy;  Copyright 2016 b1 team. all rights reserved
      </div>
</footer>