
.margin-top{
	margin-top: 100px;
}

.fb-login{
	height: 40px;
	background: url(../assets/images/sign-in-facebook.png) no-repeat;
	margin-bottom: 12px;
}

.google-login{
	height: 40px;
	background: url(../assets/images/sign-in-google.png) no-repeat;
}