<acme-navbar-admin></acme-navbar-admin>

<div class="container">
	<article class="content">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1 class="h2">{{description.title}}</h1>
				<p class="lead">
					{{description.desc}}
				</p>
				<form class="form-horizontal" ng-submit="description.tambah_data()" action="#/timeoptions">
					<fieldset>
						<div class="form-group">
							<label for="titleInput" class="col-lg-2 control-label">Title</label>
							<div class="col-lg-10">
								<input class="form-control" id="titleInput" type="text" ng-model="description.event.title" placeholder="Event Title"/>

							</div>
						</div>
						<div class="form-group">
							<label for="locationInput" class="col-lg-2 control-label">Location</label>
							<div class="col-lg-10">
								<input class="form-control" id="locationInput" ng-model ="description.event.location" type="text" placeholder="Event Location"/>
							</div>
						</div>
						<div class="form-group">
							<label for="descriptionInput" class="col-lg-2 control-label">Description</label>
							<div class="col-lg-10">
								<textarea ui-tinymce="tinymceOptions" ng-model="description.event.description"/></textarea>
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-10 col-lg-offset-9">
								<a href="#/plannerdashboard" class="btn btn-default">Cancel</a>
								<button type="submit" class="btn btn-primary">Next</button>
							</div>
					</fieldset>
				</form>
			</div>
		</div>
	</article>
	<div class=col-md-offset-5>
	<h4>Step 1 of 4</h4>
	</div>
	<br><br>
	<div class="col-md-offset-3">
<a href="#/description">General Description</a>
</div>
<acme-footer></acme-footer>