<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand site-title" href="#/">MeetMe</a>
      <small class="navbar-text">your easiest & fastest meeting planner</small>
    </div>

    <ul class="nav navbar-nav navbar-right">

      <li>
        <a href="#/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span><span> Home</span></a>
      </li>

      <li uib-dropdown on-toggle="toggled(open)">
          <a class="navbar-text" href id="simple-dropdown" uib-dropdown-toggle>
            <img class="user-ava" src="assets/images/scrappy-doo.jpg" alt="Hani"> Hi, {{navbarAdmin.userLogin}}
          </a>
          <ul uib-dropdown-menu aria-labelledby="simple-dropdown">
            <li><a ng-click="navbarAdmin.opennotif('sm')"><span class="glyphicon glyphicon-bell"></span> Notification</a></li>
            <li><a href="#/profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
            <li><a ng-click="navbarAdmin.openlogout('sm')"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
          </ul>
      </li>

    </ul>

  </div>
</nav>
